<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Track like word demo</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <p>cursor: {{caret.start}} - {{caret.end}}</p>
        <div id="tracker" tabindex="0"
            v-on:blur="hideCaret"
            v-on:focus="showCaret"
            v-on:click="updateCaret"
            v-on:mouseup="updateCaret"
            v-on:keydown="input($event)"
            v-on:paste="paste($event)">
            <div id="caret" v-bind:style="{left: caretPosition.x + 'px', top: caretPosition.y + 'px', display: caretVisible ? 'block' : 'none'}"></div><template v-for="(char, index) in decomposed">
                <span class="new-line letter" :class="char[0]" v-if="char[1]==='\n'" :data-index="index"><br/></span>
                <span v-else :class="char[0]" :data-index="index" class="letter">{{char[1]}}</span><!--
             --><span v-if="char[1]==='\n' && index === decomposed.length - 1" :data-index="index" class="letter">&nbsp;</span>
            </template>
        </div>

        <button v-on:click="focusTracker">Focus</button>
        <button v-on:click="plainText">Plain</button>
    </div>
    <script src="tracker.js"></script>
</body>
</html>