#tracker {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    white-space: pre;
    display: inline-block;
}
.normal {
    display: inline;
    font-size: 15pt;
    color: black;
}
.deleted {
    display: inline;
    font-size: 15pt;
    color: red;
    text-decoration: line-through;
}
.added {
    display: inline;
    font-size: 15pt;
    color: blue;
    text-decoration: underline;
}